@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// todo Header
@import "components/header";

// todo top
@import "components/top";

// todo about
@import "components/about";

// todo products
@import "components/products";

// todo stages
@import "components/stages";

// todo courses
@import "components/courses";

// todo teachers
@import "components/teachers";

// todo feedback
@import "components/feedback";

// todo sertificates
@import "components/sertificates";

// todo faq
@import "components/faq";

// todo promo
@import "components/promo";

// todo subscribe
@import "components/subscribe";

// todo footer
@import "components/footer";
