.footer {
  padding: 38px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts-box {
    margin-bottom: 17px;
  }

  &__contacts {
    display: block;
    color: var(--text);
    margin-bottom: 15px;
    transition: color 0.5s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--accent);
    }
  }
}
