.top {
  padding: 40px 0 150px;
  position: relative;

  &__content {
    max-width: 370px;
    padding: 150px 0 250px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__img {
    position: absolute;
    top: 45px;
    right: 240px;
  }
}
