<section class="about">
  <div class="container about__inner">
    <div class="about__content">
      <h2 class="about__title title">Про нас</h2>
      <div class="about__text">
        <p>
          Богдан творець бренду який завжди зацікавлений у виготовленні різноманітних речей вдома. Він регулярно
          експериментував з
          різними матеріалами та інструментами, спробувавши свої сили у багатьох галузях, включаючи виготовлення свічок.
        </p>
        <p>
          Ссоєвий віск виготовляють із соєвих бобів, що зрощуються в Данії, і цей вид воску є екологічно чистим та
          безпечним для
          здоров'я.
        </p>
      </div>
    </div>

    <ul class="about__list">
      <li class="about__item">
        <img class="about__img" src="images/about/1.jpg" alt="about image">
        <p class="about__item-text">Насолоджуйтеся моментом</p>
      </li>
      <li class="about__item">
        <img class="about__img" src="images/about/2.png" alt="about image">
        <p class="about__item-text">Створіть улюблену атмосферу</p>
      </li>
      <li class="about__item">
        <img class="about__img" src="images/about/3.jpg" alt="about image">
        <p class="about__item-text">Виготовлені з любов'ю</p>
      </li>
    </ul>
  </div>
</section>