<section class="courses">
  <div class="container section-inner">
    <div class="courses__text-box text-box">
      <h2 class="courses__title title section-title">Наші курси</h2>
      <div class="courses__text">
        <p>
          Наші курси дозволяють зробити перший крок в новій кар'єрі або поглибити знання в своїй галузі, розвиватися як
          професіонал, а також покращити якість свого життя.
        </p>
      </div>
    </div>

    <div class="courses__list-box">
      <ul class="courses__list">
        <li class="courses__item">
          <div class="courses__img-box">
            <img class="courses__img" src="images/courses/1.jpg" alt="Product image">
            <div class="courses__text-top">
              <p class="courses__img-text">Основи виготовлення свічок</p>
              <p class="courses__img-text">Навчання <span>- 20 год</span></p>
            </div>
            <p class="courses__text-bottom">Ціна - 40$</p>
          </div>
          <h3 class="courses__name">Основи виготовлення свічок</h3>
          <div class="courses__descr">
            <p>
              Будем навчати основам виготовлення свічок з різних матеріалів.
            </p>
          </div>
          <button class="courses__btn buy-btn" type="button">Купити курс</button>
        </li>
        <li class="courses__item">
          <div class="courses__img-box">
            <img class="courses__img" src="images/courses/2.jpg" alt="Product image">
            <div class="courses__text-top">
              <p class="courses__img-text">Мистецтво ароматерапії</p>
              <p class="courses__img-text">Навчання <span>- 20 год</span></p>
            </div>
            <p class="courses__text-bottom">Ціна - 40$</p>
          </div>
          <h3 class="courses__name">Мистецтво ароматерапії</h3>
          <div class="courses__descr">
            <p>
              Будем вивчати мистецтво ароматерапії та виготовлення свічок з різними ароматами.
            </p>
          </div>
          <button class="courses__btn buy-btn" type="button">Купити курс</button>
        </li>
      </ul>
    </div>
  </div>
</section>