<section class="faq">
  <div class="container section-inner">
    <div class="faq__text-box text-box">
      <h2 class="faq__title section-title title">Часті запитання</h2>
    </div>

    <div class="faq__content">
      <ul class="accordion" id="accordion">
        <li class="accordion__box">
          <h4 class="accordion__title">Які запахи доступні для свічок?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.
              </li>
              <li>
                Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.
              </li>
              <li>
                Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.
              </li>
              <li>
                Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.
              </li>
              <li>
                Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.
              </li>
            </ol>
          </div>
        </li>

        <li class="accordion__box">
          <h4 class="accordion__title">Як довго горять свічки?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>

        <li class="accordion__box">
          <h4 class="accordion__title">Чи можна зробити замовлення на індивідуальний дизайн свічки?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>

        <li class="accordion__box">
          <h4 class="accordion__title">Які є варіанти доставки?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>

        <li class="accordion__box">
          <h4 class="accordion__title">Як оплачувати замовлення?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>

        <li class="accordion__box">
          <h4 class="accordion__title">Як довго триває курс?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>
        <li class="accordion__box">
          <h4 class="accordion__title">Яка ціна на курс?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>
        <li class="accordion__box">
          <h4 class="accordion__title">Чи є сертифікат на курс?</h4>
          <div class="accordion__content">
            <ol>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas distinctio
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis recusandae magni nemo suscipit
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia earum, eveniet nihil
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi minus
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>