<div class="container">
  <div class="footer__inner">
    <a href="#" class="logo">
      <img class="logo__img" src="images/logo-footer.png" alt="логотип">
    </a>

    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Про нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Каталог</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Команда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Відгуки</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Курси</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакти</a>
        </li>
      </ul>
    </nav>

    <div class="footer__box">
      <div class="footer__contacts-box">
        <a class="footer__contacts" href="tel:+4534567892">+45 34 56 78 92</a>
        <a class="footer__contacts" href="mailto:candelsCandels@gmail.com">candelsCandels@gmail.com</a>
      </div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class='social__svg' width='22' height='22'>
              <use xlink:href='images/svg-sprite/sprite.svg#facebook'></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class='social__svg' width='22' height='22'>
              <use xlink:href='images/svg-sprite/sprite.svg#instagram'></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class='social__svg' width='22' height='22'>
              <use xlink:href='images/svg-sprite/sprite.svg#linkedin'></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class='social__svg' width='22' height='22'>
              <use xlink:href='images/svg-sprite/sprite.svg#youtube'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>