<div class="container">
  <div class="header__inner">
    <a href="#" class="logo">
      <img class="logo__img" src="images/logo.png" alt="логотип">
    </a>

    <nav class="menu">
      <button class="menu__btn">
        <svg class='menu__svg' width='30' height='25'>
          <use xlink:href='images/svg-sprite/sprite.svg#button'></use>
        </svg>
      </button>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Про нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Каталог</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Команда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Відгуки</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Курси</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакти</a>
        </li>
      </ul>
    </nav>

    <div class="header__phone">
      <a href="tel:+4565789876" class="header__phone-link">+45 65 78 98 76</a>
    </div>
  </div>
</div>