<section class="products">
  <div class="container section-inner">
    <div class="products__text-box text-box">
      <h2 class="products__title title section-title">Наші товари</h2>
      <div class="products__text">
        <p>
          Ми використовуємо тільки найкращі якісні матеріали: соєвий віск, віскові барвники, високоякісні ароматичні
          олії та
          бавовняні фітільці. Відтінки свічок дуже гармонійно поєднуються з ароматом, створюючи незабутню атмосферу у
          вашому домі.
        </p>
      </div>
    </div>

    <div class="products__list-box">
      <ul class="products__list">
        <li class="products__item">
          <img class="products__img" src="images/products/1.jpg" alt="Product image">
          <span class="products__price">10$</span>
          <h3 class="products__name">"Сердечко кохання"</h3>
          <div class="products__descr">
            <p>
              Запах: ніжний аромат троянди та ванілі.
              Для чого: для атмосфери романтичного настрою
            </p>
          </div>
          <button class="products__btn buy-btn" type="button">Купити</button>
        </li>
        <li class="products__item">
          <img class="products__img" src="images/products/2.jpg" alt="Product image">
          <span class="products__price">20$</span>
          <h3 class="products__name">"Вихір кохання"</h3>
          <div class="products__descr">
            <p>
              Запах: ніжний аромат лаванди.
              Для чого: для створення атмосфери затишку
            </p>
          </div>
          <button class="products__btn buy-btn" type="button">Купити</button>
        </li>
        <li class="products__item">
          <img class="products__img" src="images/products/3.jpg" alt="Product image">
          <span class="products__price">10$</span>
          <h3 class="products__name">"Веселка"</h3>
          <div class="products__descr">
            <p>
              Запах: Свіжий аромат лайма.
              Для чого: для енергії та свіжості в приміщені.
            </p>
          </div>
          <button class="products__btn buy-btn" type="button">Купити</button>
        </li>
        <li class="products__item">
          <img class="products__img" src="images/products/4.jpg" alt="Product image">
          <span class="products__price">10$</span>
          <h3 class="products__name">"Жіноча чарівність"</h3>
          <div class="products__descr">
            <p>
              Запах: ніжний аромат лаванди та фрезій. Для чого: для затишку та комфорту.
            </p>
          </div>
          <button class="products__btn buy-btn" type="button">Купити</button>
        </li>
      </ul>
    </div>
  </div>
</section>