<section class="sertificates">
  <div class="container section-inner">
    <div class="sertificates__text-box text-box">
      <h2 class="sertificates__titile section-title title">Сертифікати якості</h2>
      <div class="sertificates__text">
        <p>
          Сертифікати забезпечують додаткову довіру та впевненість для наших клієнтів.
        </p>
      </div>
    </div>

    <div class="sertificates__content">
      <ul class="sertificates__slider">
        <li class="sertificates-slide">
          <div class="sertificates__item">
            <div class="sertificates__item-video">
              <img class="sertificates__item-img" src="images/sertificates/1.jpg" alt="sertificate">
            </div>
          </div>
          </дdiv>
        <li class="sertificates-slide">
          <div class="sertificates__item">
            <div class="sertificates__item-video">
              <img class="sertificates__item-img" src="images/sertificates/2.jpg" alt="sertificate">
            </div>
          </div>
          </дdiv>
        <li class="sertificates-slide">
          <div class="sertificates__item">
            <div class="sertificates__item-video">
              <img class="sertificates__item-img" src="images/sertificates/1.jpg" alt="sertificate">
            </div>
          </div>
          </дdiv>
        <li class="sertificates-slide">
          <div class="sertificates__item">
            <div class="sertificates__item-video">
              <img class="sertificates__item-img" src="images/sertificates/2.jpg" alt="sertificate">
            </div>
          </div>
          </дdiv>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  </div>
</section>