<section class="stages">
  <div class="container section-inner">
    <div class="stages__text-box text-box">
      <h2 class="stages__title title section-title">Етапи створення свічок</h2>
      <div class="stages__text">
        <p>
          Створення свічки із соєвого воску може складатися з наступних етапів:
        </p>
      </div>
    </div>

    <ol class="stages__list">
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші
            додаткові
            матеріали.
          </p>
        </div>
        <img class="stages__img" src="images/stages/1.jpg" alt="Stages image">
      </li>
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Підготовка форми: вибір форми для свічки та підготовка її до наповнення воском.
          </p>
        </div>
        <img class="stages__img" src="images/stages/2.jpg" alt="Stages image">
      </li>
      <li class="stages__item stages__item--even">
        <img class="stages__img" src="images/stages/3.jpg" alt="Stages image">
        <div class="stages__item-text">
          <p>
            Приготування воску: розплавлення соєвого воску у плавильному пристрої до потрібної температури. Додавання
            ароматизаторів
            та барвників за необхідності.
          </p>
        </div>
      </li>
      <li class="stages__item stages__item--even">
        <img class="stages__img" src="images/stages/4.jpg" alt="Stages image">
        <div class="stages__item-text">
          <p>
            Підготовка фітіля: вставлення фітіля до форми та зафіксування його так, щоб він був рівномірно напружений.
          </p>
        </div>
      </li>
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші
            додаткові
            матеріали.
          </p>
        </div>
        <img class="stages__img" src="images/stages/5.jpg" alt="Stages image">
      </li>
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Наповнення форми: воск налити до форми, поки вона не заповниться повністю. Чекати, доки він затвердіє.
          </p>
        </div>
        <img class="stages__img" src="images/stages/6.jpg" alt="Stages image">
      </li>
      <li class="stages__item stages__item--even">
        <img class="stages__img" src="images/stages/7.jpg" alt="Stages image">
        <div class="stages__item-text">
          <p>
            Приготування воску: розплавлення соєвого воску у плавильному пристрої до потрібної температури. Додавання
            ароматизаторів
            та барвників за необхідності.
          </p>
        </div>
      </li>
      <li class="stages__item stages__item--even">
        <img class="stages__img" src="images/stages/8.jpg" alt="Stages image">
        <div class="stages__item-text">
          <p>
            Підготовка фітіля: вставлення фітіля до форми та зафіксування його так, щоб він був рівномірно напружений.
          </p>
        </div>
      </li>
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші
            додаткові
            матеріали.
          </p>
        </div>
        <img class="stages__img" src="images/stages/9.jpg" alt="Stages image">
      </li>
      <li class="stages__item stages__item--odd">
        <div class="stages__item-text">
          <p>
            Наповнення форми: воск налити до форми, поки вона не заповниться повністю. Чекати, доки він затвердіє.
          </p>
        </div>
        <img class="stages__img" src="images/stages/10.jpg" alt="Stages image">
      </li>
    </ol>
  </div>
</section>