<section class="subscribe">
  <div class="container">
    <div class="subscribe__inner">
      <div class="subscribe__form-box">
        <h2 class="subscribe__title title">Підпишись на наші акції</h2>
        <fom class="subscribe__form">
          <div class="subscribe__inputs">
            <input type="text" class="subscribe__input" placeholder="Імя">
            <input type="text" class="subscribe__input" placeholder="Е-mail">
          </div>
          <button class="subscribe__btn buy-btn" type="submit">Підписатись</button>
        </fom>
      </div>

      <div class="subscribe__img">
        <img src="images/subscribe/subscribe-bg.jpg" alt="subscribe image">
      </div>
    </div>
  </div>
</section>