<section class="teachers">
  <div class="container section-inner">
    <div class="teachers__text-box text-box">
      <h2 class="teachers__title title section-title">Наші викладачі</h2>
      <div class="teachers__text">
        <p>
          Ці люди працюють разом, щоб створювати курси для вас, які допоможуть вам почати власний бізнес або хоббі.
        </p>
      </div>
    </div>

    <div class="teachers__content">
      <ul class="teachers__list">
        <li class="teachers__item">
          <img class="teachers__img" src="images/teachers/1.jpg" alt="teachers images">
          <div class="teachers__item-text">
            <p class="teachers__name">Викладач Богдан</p>
            <p class="teachers__descr">Має досвід викладання і роботи 4 роки</p>
          </div>
        </li>
        <li class="teachers__item">
          <img class="teachers__img" src="images/teachers/2.jpg" alt="teachers images">
          <div class="teachers__item-text">
            <p class="teachers__name">Викладач Анна</p>
            <p class="teachers__descr">Має досвід викладання і роботи 6 років</p>
          </div>
        </li>
        <li class="teachers__item">
          <img class="teachers__img" src="images/teachers/3.jpg" alt="teachers images">
          <div class="teachers__item-text">
            <p class="teachers__name">Викладач Галина</p>
            <p class="teachers__descr">Навчає сфері дизайну та декорування</p>
          </div>
        </li>
        <li class="teachers__item">
          <img class="teachers__img" src="images/teachers/4.jpg" alt="teachers images">
          <div class="teachers__item-text">
            <p class="teachers__name">Маркетолог Ольга</p>
            <p class="teachers__descr">Допоможе вам з рекламою</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>