<section class="top">
  <div class="container top__inner">
    <div class="top__content">
      <h1 class="top__title title">Створіть атмосферу затишку та гармонії!</h1>
      <div class="top__text">
        <p>
          Створіть особливу атмосферу у своєму домі з нашою екологічно чистою та якісною продукцією зі 100% натуральної
          соєвого
          воску.
        </p>
      </div>
      <button class="top__btn buy-btn" type="button">Купити</button>
    </div>

    <picture class="top__img">
      <img src="images/welcome/welcome-1.png" alt="welcome">
    </picture>
  </div>
</section>